* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  background: #000;
  color: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1, h2, h3 {
  color: #ff5b76;
  margin-bottom: 0.2rem
}

a h2 {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #ff5b76;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

a h2:hover {
  color: #ffaebc;
  text-shadow: 0 2px 10px rgba(255. 91, 110, 0.6);
}

.card {
  width: 90vw;
  max-width: 1000px;
  padding: 5rem;
  margin: 1rem;
  background: #334050;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)
}

.profile-content {
  display: flex;
  flex-direction: column;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.profile-header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 5px 15px rgba (0, 0, 0, 0.1)
}

.details h1 {
  font-size: 2rem;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.bwu-quote {
  font-style: italic;
  color: #ffdfdf;
  text-align: center;
}

.about-list li {
  padding: 0.5rem;
}

.title {
  text-align: center;
  color: #ff5b76;
}

@media screen and (max-width: 600px) {
  .profile-header {
    flex-direction: column;
    text-align: center;
  }

  .profile-header img {
    width: 100px;
    height: 100px;
  }

  .details h1 {
    font-size: 1.5rem;
  }

  .card {
    width: 90%;
    padding: 3rem;
  }

  a h2 {
    font-size: 1.2rem;
  }
}